* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.newspaper-container {
    background-color: #ffffff;
    border: 4px double #000000;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    max-width: 1600px;
    margin: 2.5rem auto;
    padding: 3rem;
    position: relative;
    z-index: 1;
    height:auto;
}

.filter {
    float:left;
    margin-right:2rem;
}

.scroll-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
    border-radius: 10%;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scroll-btn.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.scroll-btn:hover {
    background-color: black;
    color: white;
    transform: translateY(-2px);
}

@media (max-width: 1440px) {
    .newspaper-container  {
        max-width: 1300px;
    }
    .sidebar{
        margin-bottom:2rem;
    }
}

@media (max-width: 769px) {
    .newspaper-container  {
        max-width: 750px;
    }
    .newspaper-page {
        display:block;
    }
    .filter{
        float: none;
        margin-bottom:2rem;
        width: 100%;
    }
}

@media (max-width:430px) {
    .newspaper-container  {
        max-width: 410px;
    }
}