* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.newspaper-container {
    font-family: 'Lora', serif;
    background-color: #f0f0f0;
    color: #111111;
    line-height: 1.5;
    overflow-x: hidden;
}

.newspaper-page {
    background-color: #ffffff;
    border: 4px double #000000;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    max-width: 80%;
    margin: 2.5rem auto;
    padding: 3rem;
    position: relative;
    z-index: 1;
}
